<th:block th:insert="fragments/fragments.html :: head"></th:block>
<th:block th:insert="fragments/fragments.html :: nav"></th:block>

<h1 th:text="${param1}"/>
<h1 th:text="${param2}"/>
<h1 th:text="${param3}"/>
<h1 th:text="${param4}"/>

<a href="https://www.bootstrapcdn.com/">"https://www.bootstrapcdn.com/"</a><br>
<a href="https://getbootstrap.com/docs/5.2/examples/headers/#">"https://getbootstrap.com/docs/5.2/examples/headers/#"</a><br>

<th:block th:insert="fragments/fragments.html :: endpage"></th:block>
